{% extends 'base.html' %}

{% block titulo %} Cadastro de Estabelecimento{% endblock %}
{% block conteudo %}

Nome do usuario
{{form.nome_usuario}}<br><br>
Razao Social
{{form.razao_social}}<br><br>
CNPJ
{{form.cnpj}}<br><br>
Telefone
{{form.telefone_estabelecimento}}<br><br>
Telefone Alternativo
{{form.telefoneAlternativo_estabelecimento}}<br><br>
Email
{{form.email}}<br><br>
Site
{{form.site_estabelecimento}}<br><br>
Facebook
{{form.facebook_estabelecimento}}<br><br>
Twitter
{{form.twitter_estabelecimento}}<br><br>
Instagram
{{form.instagram_estabelecimento}}<br><br>
Imagem
{{form.imagem_estabelecimento}}<br><br>




{% endblock %}

