{% extends '../base.html' %}

{% block titulo %} Lista de Estabelecimentos{% endblock %}
{% block conteudo %}

<div class="row">
    <div class="col s12">
        <h3>Lista de Estabelecimentos</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <table class="highlight">
            <thead>
                <tr>
                    <th></th>
                    <th>Estabelecimento</th>
                    <th>Descrição</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                {% for field in estabelecimentos %}
                <tr>
                    <td><img src="{{MEDIA_URL}}{{field.imagem_estabelecimento}}" alt="" class="circle listaEstabelecimentoImg"></td>
                    <td>{{field.razao_social}}</td>
                    <td>{{field.descricao_estabelecimento}}</td>
                    <td><a href="{% url 'listaProdutos' field.razao_social %}"><i class="material-icons">send</i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}