{% extends '../base.html' %}

{% block titulo %} Lista de Estabelecimentos{% endblock %}
{% block conteudo %}

<div class="row">
    <div class="col s12">
        <h3>Lista de Estabelecimentos</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Estabelecimento</th>
                    <th>Dono</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                {% for field in estabelecimentos %}
                <tr>
                    <td>{{field.razao_social}}</td>
                    <td>{{field.nome_usuario}}</td>
                    <td> - </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}