{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}{% endblock %}</title>
</head>
    <body>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">{% blocktrans %}Sair{% endblocktrans %}</a>
        {% else %}
            <a href="{% url 'login' %}">{% blocktrans %}Entrar{% endblocktrans %}</a>
        {% endif %}

        {% block conteudo %}     
        {% endblock %} 
    </body>
</html>