body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
    

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #0288d1 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0288d1 !important;
    box-shadow: 0 1px 0 0 #0288d1 !important;
}

.input-field input[type=password]:focus + label {
    color: #0288d1 !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #0288d1 !important;
    box-shadow: 0 1px 0 0 #0288d1 !important;
}

.input-field input[type=email]:focus + label {
    color: #0288d1 !important;
}
/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #0288d1 !important;
    box-shadow: 0 1px 0 0 #0288d1 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #0288d1 !important;
}

.card-principal {
    margin-top: 30px;
}

.salvar {
    margin-top: 30px; 
}

.listaEstabelecimentoImg {
    max-width: 50px;
}