{% extends 'base.html' %}

{% block titulo %} Cadastro de Usuário{% endblock %}
{% block conteudo %}

<p>{{msg}}</p> <!-- Mensagem de sucesso ou fracasso -->

<form action="{% url 'usuario' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    
    
    {{form.as_p}}

    {% if editar == True %}
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="submit" value="Salvar">
        <a href="{% url 'perfil_usuario' %}">Voltar</a>
    {% else %}
        <input type="submit" value="Cadastrar">
    {% endif %}
    
    
</form>


{% endblock %}
