{% extends '../base.html' %}
{% load i18n %}
{% block titulo %} Perfil de usuario{% endblock %}
{% block conteudo %}

<div id="data">
    <div class="row">
        <div class="col s12">
            <h3>{% blocktrans %}Usuário{% endblocktrans %}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <ul class="collection">
                <li class="collection-item">Usuário: {{usuario.username}}</li>
                <li class="collection-item">Nome: {{usuario.first_name}}</li>
                <li class="collection-item">E-mail: {{usuario.email}}</li>
                <li class="collection-item">CPF: {{usuario.cpf}}</li>
                <li class="collection-item">Telefone: {{usuario.telefone_usuario}}</li>
                <li class="collection-item">Telefone alternativo: {{usuario.telefoneAlternativo_usuario}}</li>
            </ul>
        </div>
        <div class="col s6">
            <p><img class="responsive-img" src="{{MEDIA_URL}}{{usuario.imagem_usuario}}"></p>
        </div>
        <div class="col s12">
            <a class="btn waves-effect waves-light grey darken-1" id="cadastrar" href="{% url 'update_usuario' usuario.id %}">Editar
                dados de usuário</a>
        </div>
    </div>
    <hr>
    {% if estabelecimento %}
    <div class="row">
        <div class="col s12">
            <h3>{% trans "Estabelecimento" %}</h3>
            <hr>
        </div>
    </div>
    {% for field in estabelecimento %}
    <div class="row">
        <div class="col s6">
            <ul class="collection">
                <li class="collection-item">Nome: {{field.razao_social}}</li>
                <li class="collection-item">Descrição: {{field.descricao_estabelecimento}}</li>
            </ul>
        </div>
        <div class="col s6">
            <p><img class="responsive-img" src="{{MEDIA_URL}}{{field.imagem_estabelecimento}}"></p>
        </div>
        <!-- <div class="col s12">
            <a class="btn waves-effect waves-light grey darken-1" id="etitarEstabelecimento" href="">Editar Estabelecimento</a>
        </div> -->
    </div>
    {% endfor %}
    {% endif %}
</div>

<script>
    new Vue({
        el: '#data',
        data: {

        }
    });
</script>

{% endblock %}